<div class="container">

  <div class="row margin">
    <div class="col l6 offset-l3 center">
      <h2>Finished Stories</h2>

      <% @completed_stories.each do |story| %>
        <a class="story-titles" href="/stories/<%= story.id %>">
          <% if story.title == '' %>
          <span>Untitled</span> /
          <% else %>
          <span><%= story.title %></span> /
          <% end %>
        </a>
      <% end %>
    </div>
  </div>

  <div class="row margin open-story-wrapper">
    <h2>Open Stories</h2>

      <div>
      <% @open_stories_parts.each do |part| %>
        <div class="col l4 open-story-block">
          <a href="/stories/<%= part.story_id %>">
            <span><%= part.body.split.first %></span>
            <%= part.body.split(' ').drop(1).join(' ') %>
          </a>
        </div>
      <% end %>
      </div>

  </div>

</div>
